{% include 'header.html'%}
{% block content%}
<div style="width:100%;padding:10% 30% 10% 30%">
  <div class="bg-primary p-4">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user_name">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
      </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
<div>
  
</div>
{% endblock %}